p {text-align: center;
    color: blu;
}
B {font-size: 14; text-align: Center;}
.Data {font-size: 12; text-align: center; background-color: pink;}
.Data2 {font-size: 12; text-align: center; background-color: yellow;}
.Left {font-size: 12; text-align: left; padding-left: 3px}
.Right {font-size: 12; text-align: Right; padding-right: 3px}
U {font-size: 16; color: blue; text-align: center;}